.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 150px;
    padding: 10px;
}

.describe_container {
    display: flex;
    flex-direction: column;
    gap:2px;
}

p {
    margin: 0;
}